<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <h3>Instituto Innovación y Progreso</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-list class="ion-margin">
      <ion-item>
        <ion-input label="Email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Numero celular" type="number"></ion-input>
      </ion-item>
    </ion-list>

    <ion-col class="Login">
        <div>
            <ion-button [routerLink]="['/Login']" routerLinkActive="router-Link-Active" class="ion-margin">Volver Inicio</ion-button>
        </div>
    </ion-col>

  </ion-content>
  